My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1104,
        -80
      ],
      "id": "91a79113-480f-4178-b44c-6badf99b8870",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a professional business assistant.\n\nWrite a short, friendly, and professional outreach email.\n\nCustomer Name: {{ $json.Name }}\n\nCompany: {{ $json.Company }}\n\nThe email should introduce our services, be polite, and encourage the customer to reply if they are interested.\n\nKeep the email under 120 words.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -656,
        -80
      ],
      "id": "c92f492b-5bf6-42ea-a654-13563dbef514",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1YOdBIemhHHc0wOwgX6GFMVXy1-SvWwZFrVGT040BcIc/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1YOdBIemhHHc0wOwgX6GFMVXy1-SvWwZFrVGT040BcIc/edit?gid=0#gid=0",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -880,
        -80
      ],
      "id": "8fa3265e-adab-4b54-bfb7-0137d38ef768",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WArvv5P40yiQ8Gtk",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{$('Get row(s) in sheet').item.json.Email}}",
        "subject": "Welcome to Our Services",
        "message": "{{ $('AI Agent').item.json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -304,
        -80
      ],
      "id": "6fcd162c-6004-479b-9b9c-45903a63847e",
      "name": "Send a message",
      "webhookId": "21f48022-5b1f-428f-9b0b-2b439a42aba0",
      "credentials": {
        "gmailOAuth2": {
          "id": "8TPbDc1yEfGwYmY3",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -576,
        144
      ],
      "id": "9a9f4f43-e8d4-4250-b7b1-dbf49f9918aa",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "M4ILLOaAmsdbocCz",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1YOdBIemhHHc0wOwgX6GFMVXy1-SvWwZFrVGT040BcIc/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1YOdBIemhHHc0wOwgX6GFMVXy1-SvWwZFrVGT040BcIc/edit?gid=0#gid=0",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Done",
            "row_number": 2
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "threadId",
              "displayName": "threadId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "labelIds",
              "displayName": "labelIds",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -80,
        -80
      ],
      "id": "0d63e429-6d1c-4d45-a1a0-2f96ebdae416",
      "name": "Update row in sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WArvv5P40yiQ8Gtk",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "4611abb3-63ba-45f9-a67e-16f27b1685c8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "35c649b971ef49fbe97bc0d5d50997810ecc69fa296358c55100e155d428d8bf"
  },
  "nodeGroups": [],
  "id": "Q22kEa3enlsLNP4N",
  "tags": []
}